OPENAI_API_KEY=
OPENAI_TTS_MODEL=gpt-4o-mini-tts
OPENAI_TTS_VOICE=coral
OPENAI_TTS_INSTRUCTIONS=Habla en español latinoamericano con pronunciación clara y natural, tono cálido y ritmo moderado.
IAM_ALLOWED_ORIGINS=https://amesiadev.github.io
